body{
    margin: 0;
    padding: 0;
}

header{
    height: 150px;
    width: 100%;
    background-color: rgb(86, 131, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

header > h1{
    color: white;
}
.container{
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-size: x-large;
}

form{
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    padding: 20px;
    margin-top: 10px;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: auto;
}